<h1>Editing Salon Image</h1>

<%= render 'form', salon_image: @salon_image %>

<%= link_to 'Show', salon_salon_image_path(@salon, @salon_image) %> |
<%= link_to 'Back', salon_salon_images_path(@salon) %>
